# DSpace Configuration
DSPACE_VERSION=dspace-7.4
DOCKER_REGISTRY=dspace
DATA_FOLDER=/data/dspace

# Database Configuration
POSTGRES_USER=dspace
POSTGRES_PASSWORD=dspace

# Hostnames
DSPACE_HOSTNAME=localhost
DSPACE_PORT=8080
DSPACE_BASEURL=http://localhost:8080

# Traefik Configuration
TRAEFIK_DOMAIN=localhost
TRAEFIK_AUTH=admin:$apr1$1UAy4ZrL$rAQbIo8DVR8oHvaeD.GPn/
TRAEFIK_NETWORK=dspacenet

# SSL/TLS Configuration
CERTRESOLVER=acme
HTTP_ENTRYPOINT=web
HTTPS_ENTRYPOINT=websecure
